.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.child-container-1 {
  background-color: white;
  flex: 1.5;
}

.child-container-2 {
  background-color: white;
  flex: 1.5;
}
.child-container-3 {
  background-color: white;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .child-container-1 {
    margin-right: 50px;
  }
  .child-container-2 {
    margin-right: 50px;
  }
  .child-container-3 {
    margin-right: 50px;
  }
}
